body {
    /* width: 860px; */
    padding: 0 calc(50% - 690px);
    /* margin: 0 auto; */
   
}

.wrap {
    display:flex;
    flex-wrap: wrap;
    
    /* justify-content:space-around; */
    overflow-x: hidden;
    padding-top: 10px;
    height: 480px;
    opacity: 0;
    
    
    
 
}

.ctrl__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.btn__wrap {
    display: flex;
    width: max-content;
    padding-bottom: 3px;
    /* justify-content: space-between;      */
    /* margin-left: 5vw; */
    
 }
 
 .wrap-clean { 
    display: flex;
    /* margin-left: 5vw; */
    justify-content: center;
    
    padding: 5px;
    width: 60vw;
    background-color: rgb(213, 188, 236);
    border-radius: 20px;
    
}

.zipper {
 
    width:  200px;
    height: 200px;
    background-image: url("./zippenstein.jpg");
}

.keshenator {

    width:  200px;
    height: 200px;
    
    background-image: url("./kesha.jpg");
    
}

.currentScreen {
    opacity: 1;
       
}

button {
    margin-left: 5px;
    width: 7rem;
}
button:hover{
    border: 1px solid rgb(62, 102, 62);
    transition: 0.32s;
    /* background-color:transparent; */
    background-color: rgb(188, 247, 166);
}

.btn__reset:hover{
    background-color: rgb(247, 166, 166);

}